/*Slide in*/

.slide-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.slide-enter.slide-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
}

/*Slide out*/

.slide-leave {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slide-leave.slide-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
}

/*vslide in*/

.vslide-enter {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.vslide-enter.vslide-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .35s;
  transition: transform .35s;
}

/*reverse vslide in*/

.reverse-vslide-enter {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.reverse-vslide-enter.reverse-vslide-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .35s;
  transition: transform .35s;
}

/*vslide out*/

.vslide-leave {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


.vslide-leave.vslide-leave-active {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform .35s;
  transition: transform .35s;
}

/*Horizontal fade in*/

.horizontal-fade-enter {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;

  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.horizontal-fade-enter.horizontal-fade-enter-active {
  -webkit-transform: none;
  transform: none;

  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
}

/*Horizontal fade out*/

.horizontal-fade-leave {
  opacity: 1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.horizontal-fade-leave.horizontal-fade-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);

  -webkit-transition: -webkit-transform .5s, opacity 1s linear;
  transition: transform .5s, opacity 1s linear;
}

/* reverse horizontal fade in */

.reverse-horizontal-fade-enter {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;

  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.reverse-horizontal-fade-enter.reverse-horizontal-fade-enter-active {
  -webkit-transform: none;
  transform: none;

  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
}

/* reverse horizontal fade out */

.reverse-horizontal-fade-leave {
  opacity: 1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.reverse-horizontal-fade-leave.reverse-horizontal-fade-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);

  -webkit-transition: -webkit-transform .5s, opacity 1s linear;
  transition: transform .5s, opacity 1s linear;
}

/* fade in*/

.fade-enter {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
}

/* fade out*/

.fade-leave {
  opacity: 1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;

  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
}
