@import "normalize.css";
@import "fonts.css";
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@media (min-width: 992px) {
  .auth0-lock-overlay {
    background: rgba(34,34,40,0.94);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(#363640, #111118);
    opacity: 0.94;
  }
}
.auth0-lock {
  font-family: 'Open Sans', sans-serif;
  visibility: hidden;
  text-rendering: optimizeLegibility;
}
.auth0-lock.open {
  visibility: visible;
}
.auth0-lock a {
  text-decoration: none;
}
.auth0-lock input:focus {
  outline: none;
}
@media (min-width: 992px) {
  .auth0-lock {
    width: 300px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 200px;
    margin-left: -150px;
  }
}
@media (min-width: 992px) {
  .auth0-lock .auth0-lock-widget {
    opacity: 0;
    -webkit-transition: transform 0.8s, opacity 0s;
    -webkit-transform: translateY(80%) scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.3, 0, 0, 1.3);
    -webkit-transition-delay: 0.2s;
  }
}
.auth0-lock.open .auth0-lock-widget {
  opacity: 1;
  -webkit-transform: translateY(0%) scale(1);
  -webkit-transition-delay: 0;
}
.auth0-lock .auth0-lock-header {
  text-align: center;
  padding: 14px;
  background: #fff;
  color: #333;
  position: relative;
  overflow: hidden;
}
@media (min-width: 568px) {
  .auth0-lock .auth0-lock-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
.auth0-lock .auth0-lock-header .auth0-lock-close {
  background: #fff;
  border-radius: 100px;
  height: 22px;
  width: 22px;
  background: #fff;
  position: absolute;
  top: 14px;
  right: 14px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.4);
  color: #333;
  z-index: 100;
}
.auth0-lock .auth0-lock-header .auth0-lock-close:before {
  content: "e";
  font-size: 10px;
  position: relative;
  top: 0.4px;
}
.auth0-lock .auth0-lock-header-welcome {
  font-size: 22px;
  overflow: hidden;
  position: relative;
}
.auth0-lock .auth0-lock-header-welcome .auth0-lock-header-logo {
  width: 60px;
  height: 60px;
  background: url("../img/badge.svg") center no-repeat;
  background-size: 100% 100%;
  margin: auto auto 10px auto;
}
.auth0-lock .auth0-lock-header:before {
  background: url("../img/badge.svg") center no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  content: " ";
  left: 0;
  right: 0;
  -webkit-filter: grayscale(1) blur(50px);
  opacity: 0.7;
}
.auth0-lock .auth0-lock-content {
  padding: 30px 40px;
  background: #fff;
  max-width: 240px;
  margin: auto;
}
.auth0-lock .auth0-lock-tabs {
  border: 1px solid #5c666f;
  padding: 0;
  margin: 0 0 30px 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.5px;
  overflow: hidden;
}
.auth0-lock .auth0-lock-tabs li {
  width: 50%;
  display: block;
  list-style: none;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
}
.auth0-lock .auth0-lock-tabs li.auth0-lock-tabs-current {
  background-color: #5c666f;
}
.auth0-lock .auth0-lock-tabs li.auth0-lock-tabs-current a {
  color: #fff;
}
.auth0-lock .auth0-lock-tabs li a {
  padding: 8px 10px;
  display: block;
  text-decoration: none;
  color: #5c666f;
}
.auth0-lock .auth0-lock-input-wrap {
  border-radius: 3px;
  margin-bottom: 14px;
  border: 1px solid #f1f1f1;
  position: relative;
  background: #f1f1f1;
  overflow: hidden;
}
.auth0-lock .auth0-lock-input-wrap i:before {
  color: #888;
  position: absolute;
  font-size: 12px;
  top: 17px;
  left: 15px;
}
.auth0-lock .auth0-lock-input-wrap.auth0-lock-input-username i:before {
  content: "b";
}
.auth0-lock .auth0-lock-input-wrap.auth0-lock-input-password i:before {
  content: "c";
}
.auth0-lock .auth0-lock-input-wrap.auth0-lock-input-invalid {
  border-color: #d84132;
  color: #d84132;
}
.auth0-lock .auth0-lock-input-wrap.auth0-lock-input-invalid i:before {
  color: #d84132;
}
.auth0-lock .auth0-lock-input-wrap .auth0-lock-input {
  border: 0;
  padding: 12px 14px;
  margin-left: 40px;
  right: 0;
  height: 20px;
  border-left: 1px solid #eee;
  font-size: 12px;
  right: 0px;
  width: 169px;
}
@media (min-width: 568px) {
  .auth0-lock .auth0-lock-input-wrap .auth0-lock-input {
    width: 149px;
  }
}
.auth0-lock .auth0-lock-input-wrap:last-child {
  margin-bottom: 0;
}
.auth0-lock .auth0-lock-submit {
  background: #40df7d;
  background: #ea5323;
  border: 0;
  padding: 14px;
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.auth0-lock .auth0-lock-submit:hover {
  background: #c43e13;
}
@media (min-width: 568px) {
  .auth0-lock .auth0-lock-submit {
    position: static;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
.auth0-lock .auth0-lock-submit i {
  border: 2.5px solid #fff;
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
  border-radius: 100px;
}
.auth0-lock .auth0-lock-submit i:before {
  content: "p";
  color: #fff;
  top: 9.5px;
  position: relative;
  font-size: 20px;
  left: 2px;
}
.auth0-lock .auth0-lock-forgot-link {
  font-size: 12px;
  display: block;
  text-align: center;
  margin: 30px 0 0 0;
  color: #5c666f;
}
.auth0-lock .auth0-lock-error-message {
  font-size: 12px;
  display: block;
  text-align: center;
  margin: 0 0 14px 0;
  color: #d84132;
}
.auth0-lock .auth0-lock-badge {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  position: relative;
  z-index: -1;
  -webkit-transition: transform 0.4s ease 1.4s, opacity 0s ease 1.4s;
  -webkit-transform: translateY(-200%) scale(0.8);
  opacity: 0;
}
.auth0-lock .auth0-lock-badge:before {
  content: "f";
  color: rgba(255,255,255,0.4);
}
.auth0-lock.open .auth0-lock-badge {
  -webkit-transform: translateY(0%) scale(1);
  opacity: 1;
}
