@import "normalize.css"
@import "fonts.css"

// Breakpoints mixin
breakpoint(point, value = 0)

  if point == "mobile"
    @media (min-width: 320px)
    	{block}

  else if point == "mobile-landscape"
    @media (min-width: 568px)
    	{block}

  else if point == "tablet"
    @media (min-width: 768px)
    	{block}

  else if point == "desktop"
    @media (min-width: 992px)
    	{block}

  else if point == "retina-only"
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    	{block}

  else
    @media (min-width: value)
    	{block}

@-webkit-keyframes fadeIn
    from
      opacity: 0;
    to
      opacity: 1;

.animated
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

@keyframes fadeIn
    from
      opacity: 0;
    to
      opacity: 1;

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.auth0-lock
  font-family: "Avenir", sans-serif;
  text-rendering: optimizeLegibility;
  opacity: 0;
  transition: opacity 0s;
  transition-delay: 2s;
  pointer-events: none;
  display: table;

  +breakpoint("desktop")
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;

  &.opened
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0s;

  a
    text-decoration: none;

  input:focus
    outline: none;

  .auth0-lock-overlay
    +breakpoint("desktop")
      background: rgba(34,34,40, .94)
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      background: radial-gradient(lighten(#222228, 15%), #111118); /* Standard syntax */
      -webkit-transition: opacity .2s ease-in .4s;

  .auth0-lock-form
    display: block;
    -webkit-animation: fadeIn .7s;
    animation: fadeIn .7s;

  .auth0-lock-hide
    display: none !important;

  .auth0-lock-form.auth0-lock-hide
    display: none;

  .auth0-lock-widget
    +breakpoint("desktop")
      opacity: 0;
      border-radius: 5px;
      box-shadow: 0 0 0 transparent;
      -webkit-transition: transform .4s, opacity .7s;
      -webkit-transform: translateY(100%) scale(.8);
      -webkit-transition-timing-function: cubic-bezier(.3, 0, 0, 1.4);
      -webkit-transition-delay: 0s;
      width: 300px;
      margin: auto;

  .auth0-lock-center
    +breakpoint("desktop")
      vertical-align: middle;
      display: table-cell;
      margin: auto;

  &.opened
    .auth0-lock-overlay
      opacity: .9;
      -webkit-transition: opacity .3s ease-in 0s;

    .auth0-lock-widget
      opacity: 1;
      box-shadow: 0 0 40px 4px #111118;
      -webkit-transform: translateY(0%) scale(1);
      -webkit-transition: transform .6s, opacity .6s;
      -webkit-transition-delay: .5s;


  .auth0-lock-header
    text-align: center;
    padding: 14px 14px 14px 14px;
    color: #333;
    position: relative;
    background: #fff;
    height: 100px

    +breakpoint(mobile-landscape)
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

    .auth0-lock-close
      background: white;
      border-radius: 100px;
      height: 10px;
      width: 10px;
      background: white;
      position: absolute;
      top: 14px;
      right: 14px;
      box-shadow: 0 1px 3px rgba(0,0,0,.1);
      color: #333;
      z-index: 100;
      border: 6px solid white;
      cursor: pointer;

  .auth0-lock-header-welcome
    font-size: 22px;
    // overflow: hidden;
    position: relative;

    .auth0-lock-header-logo
      max-width: 60px;
      height: 50px;
      margin: auto auto 10px auto;

    .auth0-lock-header-placeholder
      background: green;
      color: white;
      border-radius: 100px;
      line-height: 60px;
      width: 60px;
      margin: auto;

    .auth0-lock-header-avatar
      height: 90px;
      width: 90px;
      display: block;
      border-radius: 100px;
      margin: auto;
      margin: auto auto 10px auto;
      margin-top: -30px;
      position: relative;
      box-shadow: 0 1px 2px rgba(0,0,0,.4)

  .auth0-lock-header-bg
    position: absolute;
    height: 130px;
    width: 300px;
    overflow: hidden;
    top: 0;
    left: 0;
    pointer-events: none;
    .auth0-lock-header-bg-inner
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-filter: blur(40px) grayscale(1);
      background: url('../img/badge.svg')   center  no-repeat;
      background-size:  300px ;
      opacity: 0;
      transition: all 0s ease 0s;

      &.auth0-lock-no-grayscale
        -webkit-filter: blur(80px);
        background: url('../img/badge.svg')   center   no-repeat;
        background-position: center;

  .auth0-lock-content
    padding: 30px 40px;
    background: white;
    max-width: 240px;
    margin: auto;

  .auth0-lock-tabs
    border: 1px solid #5C666F;
    background: white;
    padding: 0;
    margin: 0 0 30px 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .7px;
    overflow: hidden;
    li
      width: 50%;
      display: block
      list-style: none;
      float: left;
      padding: 0;
      margin: 0;
      text-align: center;

      &.auth0-lock-tabs-current
        background-color: #5C666F;
        a
          color white

      a
        padding: 6px 10px;
        display: block;
        text-decoration: none;
        color: #5C666F;


  .auth0-lock-input-wrap
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid #f1f1f1;
    position: relative;
    background: #f1f1f1;
    overflow: hidden;

    i:before
      color: #888;
      position: absolute
      font-size: 12px;
      top: 17px;
      left: 15px;

    &.auth0-lock-input-username
      i:before
        content: "b"

    &.auth0-lock-input-password
      i:before
        content: "c"

    .auth0-lock-input
      border: 0;
      padding: 12px 14px;
      margin-left: 40px;
      right: 0;
      height: 20px;
      border-left: 1px solid #eee;
      font-size: 13px;
      right: 0px;
      width: 169px;
      +breakpoint("mobile-landscape")
        width: 149px;

    &:last-child
      margin-bottom: 0;

  .auth0-lock-terms
    text-align: center;
    margin-top: 20px;
    display: block;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    a
      color: #000;

  .auth0-lock-submit
    background: #40DF7D;
    background: #EA5323;
    border: 0;
    padding: 14px;
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    transition: background-color .2s ease-out;

    &:hover
      background: darken(#EA5323, 20%)

    &:focus
      outline: none;

    +breakpoint("mobile-landscape")
      position: static;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

    i
      border: 2.5px solid white;
      width: 40px;
      height: 40px;
      display: block;
      margin: auto;
      border-radius: 100px;
      &:before
        content: "p"
        color: white
        top: 9.5px;
        position: relative;
        font-size: 20px
        left: 2px;


  .auth0-lock-forgot-link
    font-size 12px;
    display: block
    text-align: center;
    margin: 30px 0 0 0;
    color: #5C666F;

  .auth0-lock-badge
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    z-index: -1;
    -webkit-transition: transform 4s ease 1.8s, opacity 1.2s ease 1.8s;
    -webkit-transform: translateY(-200%) scale(.8);
    transition: transform .5s ease 1s, opacity .2s ease 0s;
    transform: translateY(-200%) scale(.8);
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;

    &:before
      content: "f"
      color: rgba(255,255,255,.4)

  &.opened
    .auth0-lock-header-bg
      .auth0-lock-header-bg-inner
        opacity: .4;
        transition: all 1s ease 1s;
        &.auth0-lock-no-grayscale
          opacity: .7;

    .auth0-lock-badge
      -webkit-transform: translateY(0%)  scale(1);
      -webkit-transition-delay: 0;
      transform: translateY(0%)  scale(1);
      transition: transform 1.2s ease 1s, opacity 1.2s ease 1s;
      opacity: 1;
