
/*Slide in*/

.slide-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
}

.slide-enter.slide-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*Slide out*/

.slide-leave {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
}

.slide-leave.slide-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/*Horizontal fade show*/

.horizontal-fade-appear {
  opacity: 0;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s;
}

.horizontal-fade-appear.horizontal-fade-appear-active {
  opacity: 1;
}

/*Horizontal fade in*/

.horizontal-fade-enter {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;

  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.horizontal-fade-enter.horizontal-fade-enter-active {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

/*Horizontal fade out*/

.horizontal-fade-leave {
  opacity: 1;

  position: absolute;
  top: 0;
  left: 0;

  -webkit-transition: -webkit-transform 1s, opacity 1s ease-out;
  transition: transform 1s, opacity 1s ease-out;
}

.horizontal-fade-leave.horizontal-fade-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* reverse fade in */

.reverse-horizontal-fade-enter {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;

  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.reverse-horizontal-fade-enter.reverse-horizontal-fade-enter-active {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

/* reverse fade out */

.reverse-horizontal-fade-leave {
  opacity: 1;

  position: absolute;
  top: 0;
  left: 0;

  -webkit-transition: -webkit-transform 1s, opacity 1s ease-out;
  transition: transform 1s, opacity 1s ease-out;
}

.reverse-horizontal-fade-leave.reverse-horizontal-fade-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
