extend layout.jade

block content
  .col-md-8.col-sm-8.text-content
    h1 Widget

    p The Auth0 Login Widget makes it easy to integrate SSO in your app. You won't have to worry about:

    ul
      li Having a professional looking login dialog that displays well on any resolution and device.
      li Finding the right icons for popular social providers.
      li Remembering what was the identity provider the user chose the last time.
      li Solving the home realm discovery challenge with enterprise users (i.e.: asking the enterprise user the email, and redirecting to the right enterprise identity provider).
      li Implementing a standard sign in protocol (OpenID Connect / OAuth2 Login)

    h4 Including the Login Widget on your page
    p Add the script tag to your page to get started with Auth0 Login Widget.
    pre &lt;script src=&quot;https://cdn.auth0.com/w2/auth0-widget-3.0.min.js&quot;&gt;&lt;/script&gt;



    h4 User Info
    pre Not logged in yet

    #login-container(style='float: left; max-width: 360px; min-width: 240px; min-height: 500px; margin-top: 20px;')


block scripts
  script(src='auth0-widget.js')
  script(src='https://code.jquery.com/jquery-1.10.1.min.js')
  script.
    $(function() {
        $('#login-button').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true
                // enableReturnUserExperience: false
            });
            widget.signin({});
        });
        $('#login-button-only-socials').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true
                // enableReturnUserExperience: false
            });
            widget.signin({
                connections: ['github', 'google-oauth2', 'windowslive']
            });
        });
        $('#login-button-only-userpass').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true,
                username_style: 'username'
                // enableReturnUserExperience: false
            });
            widget.signin({
                connections: ['foobar']
            });
        });
        $('#login-button-only-emailpass').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true
                // enableReturnUserExperience: false
            });
            widget.signin({
                connections: ['foobar']
            });
        });
        $('#login-button-only-enterprise').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true
                // enableReturnUserExperience: false
            });
            widget.signin({
                connections: ['qraftlabs.com']
            });
        });
        $('#login-button-customicon').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true,
                showIcon: true,
                icon: '//auth0.com/auth0-styleguide/img/favicon.png'
            });
            widget.signin({});
        });
        $('#login-button-nosignup-noforgot').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true,
                showSignup: false,
                showForgot: false
            });
            widget.signin({});
        });
        $('#login-button-inside-container').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true,
                dict: 'it'
            });
            widget.show({
                container: 'login-container'
            });
        });
        $('#login-button-inside-container-chrome').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true,
                dict: 'es'
            });
            widget.show({
                container: 'login-container',
                chrome: true
            });
        });
        $('#login-button-all').on('click', function() {
            var langs = ['ar', 'de', 'en', 'es', 'fr-FR', 'he', 'it', 'ja', 'nl-NL', 'pt', 'ru', 'zh'];
            var i = setInterval(function() {
                var l = langs.shift();
                if (!l) return clearInterval(i);
                (new Auth0Widget({
                    domain: 'mdocs.auth0.com',
                    clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                    callbackURL: 'http://localhost:3000/',
                    callbackOnLocationHash: true,
                    dict: l,
                    enableReturnUserExperience: false
                })).show();
            }, 3000);
        });
        $('#logout-button').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true
                // enableReturnUserExperience: false
            });
            widget.logout({
                returnTo: 'http://localhost:3000'
            });
        });
        $('#signup-button').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true,
                username_style: 'username'
                // enableReturnUserExperience: false
            });
            widget.signup({});
        });
        $('#reset-button').on('click', function() {
            var widget = new Auth0Widget({
                domain: 'mdocs.auth0.com',
                clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
                callbackURL: 'http://localhost:3000/',
                callbackOnLocationHash: true
                // enableReturnUserExperience: false
            });
            widget.reset({});
        });

        var widget = new Auth0Widget({
            domain: 'mdocs.auth0.com',
            clientID: '0HP71GSd6PuoRYJ3DXKdiXCUUdGmBbup',
            callbackURL: 'http://localhost:3000/',
            callbackOnLocationHash: true
            // enableReturnUserExperience: false
        });
        var result = widget.parseHash(window.location.hash);
        if (result && result.id_token) {
            // After login, show user profile
            widget.getProfile(result.id_token, function(err, profile) {
                window.location.hash = "";
                if (err) {
                    return alert(err);
                }
                $('#userinfo-container pre').text(JSON.stringify(profile, 0, 2));
            });
        } else if (result && result.error) {
            alert('error: ' + result.error);
        }
    });

