html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Test auth0-widget
    link(rel='stylesheet', type='text/css', href='//auth0.com/app.css')
    link(rel='stylesheet', type='text/css', href='/index.css')
    //- meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0')

  | <!--[if IE 9]>
  |   <style>.sidebar-box ul a i{display: none}</style>
  | <![endif]-->
  body
    header.site-header
      nav.navbar.navbar-default(role='navigation')
        .container
          .navbar-header
            h1.navbar-brand
              a(href='/')
                img(src='https://auth0.com/auth0-styleguide/img/logo.png')
                span Auth0

          .navbar-right
            ul.nav.navbar-nav
              li.li-docs
                a(href='https://docs.auth0.com/login-widget2') Documentation
              li
                a.signin-button.btn.btn-sm.signup(href='https://app.auth0.com', target='_blank') Open your dashboard


    .site-content
      .container.branding-page
        .breadcrumb
          ul.page-list
            li
              a(href='/') Auth0
            li »
            li
              a(href='#') Widget

          ul.external-links
            li
              a(href='http://twitter.com/authzero', target='_blank') Twitter
            li
              a(href='https://github.com/auth0/widget', target='_blank') Github
            li
              a(href='http://chat.auth0.com', target='_blank') Chat With Us
            li
              a(href='mailto:support@auth0.com', target='_blank') Contact Us


        .row
          .col-sm-3
            .sidebar-box
              strong Widget
              ul
                li
                  a(href="")
                    i
                    span Documentation

            .sidebar-box
              strong Demos
              ul
                li
                  a#login-button
                    i
                    | Login
                li
                  a#login-button-only-socials
                    i
                    | Login (only socials)
                li
                  a#login-button-only-emailpass
                    i
                    | Login (only email/pass)
                li
                  a#login-button-only-userpass
                    i
                    | Login (only user/pass)
                li
                  a#login-button-only-enterprise
                    i
                    | Login (only enterprise)
                li
                  a#login-button-customicon
                    i
                    | Login (custom icon)
                li
                  a#login-button-nosignup-noforgot
                    i
                    | Login (no signup nor forgot)
                li
                  a#login-button-inside-container
                    i
                    | Login (inside a DIV)
                li
                  a#login-button-inside-container-chrome
                    i
                    | Login (inside a DIV - chrome)
                li
                  a#login-button-all
                    i
                    | Login (all languages)
                li
                  a#logout-button
                    i
                    | Logout
                li
                  a#signup-button
                    i
                    | Show SignUp
                li
                  a#reset-button
                    i
                    | Show Reset Password

          block content

    block scripts