{
  "plugins": [
    "version-inline",
    "transform-css-import-to-string",
    "babel-plugin-stylus-compiler",
    "@babel/plugin-proposal-function-bind"
  ],
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": "3.26.1" }],
    "@babel/preset-react"
  ]
}
