doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title Lock
    
    link(href='css/index.css', rel='stylesheet')
    link(href='css/demo.css', rel='stylesheet')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='js/site.js')
    
      
  body
    .auth0-lock
      
      .auth0-lock-overlay
      
      .auth0-lock-center
        
        a(href="").global-error.demo-button Show Global Error
        
        form.auth0-lock-widget
          img.auth0-lock-header-avatar.auth0-lock-hide(src='img/avatar.png')
        
          svg.auth0-lock-close(enable-background='new 0 0 128 128', height='128px', id='Слой_1', version='1.1', viewbox='0 0 128 128', width='128px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            g
              polygon(fill='#373737', points='123.5429688,11.59375 116.4765625,4.5185547 64.0019531,56.9306641 11.5595703,4.4882813     4.4882813,11.5595703 56.9272461,63.9970703 4.4570313,116.4052734 11.5244141,123.4814453 63.9985352,71.0683594     116.4423828,123.5117188 123.5126953,116.4414063 71.0732422,64.0019531   ')

          .auth0-lock-widget-container

            .auth0-lock-header
              .auth0-lock-header-bg
                .auth0-lock-header-bg-inner


              .auth0-lock-header-welcome
                img.auth0-lock-header-logo(src='img/badge.svg')
                .auth0-lock-name Auth0
                .auth0-lock-firstname.auth0-lock-hide Welcome Ricardo!

            
            .auth0-global-grobal-error
              span.fadeInUp.animated We're sorry, something went wrong.
              
            .auth0-lock-content
              .auth0-lock-signin-signup-mode.auth0-lock-hide.auth0-lock-mode
                include includes/login-signup.jade
              
              .auth0-lock-passwordless.auth0-lock-mode
                //- include includes/login-passwordless.jade
                .auth0-lock-form.auth0-lock-passwordless
                  p Enter your email address to sign in or create an account.
                  
                  .auth0-lock-input-block-email.auth0-lock-input-block
                    .auth0-lock-error-message.auth0-lock-hide Invalid Email
                    .auth0-lock-input-wrap
                      svg(width='32px', height='26px', viewbox='0 0 32 26', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns').auth0-lock-icon
                        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
                          g#32px(sketch:type='MSLayerGroup', transform='translate(-2155.000000, -2317.000000)', fill='#373A39')
                            g#Group-856(transform='translate(1.000000, 1.000000)', sketch:type='MSShapeGroup')
                              path#Fill-419(d='M2184,2339 C2184,2339.55 2183.55,2340 2183,2340 L2157,2340 C2156.45,2340 2156,2339.55 2156,2339 L2156,2319 C2156,2318.45 2156.45,2318 2157,2318 L2183,2318 C2183.55,2318 2184,2318.45 2184,2319 L2184,2339 L2184,2339 Z M2184,2316 L2156,2316 C2154.89,2316 2154,2316.89 2154,2318 L2154,2340 C2154,2341.1 2154.89,2342 2156,2342 L2184,2342 C2185.1,2342 2186,2341.1 2186,2340 L2186,2318 C2186,2316.89 2185.1,2316 2184,2316 L2184,2316 Z M2176,2322 L2180,2322 L2180,2326 L2176,2326 L2176,2322 Z M2174,2328 L2182,2328 L2182,2320 L2174,2320 L2174,2328 Z M2158,2332 L2172,2332 L2172,2330 L2158,2330 L2158,2332 Z M2158,2336 L2172,2336 L2172,2334 L2158,2334 L2158,2336 Z')

                      input.auth0-lock-input.auth0-lock-input-email(type='text', name='name', value='', placeholder='Signup with your email')

                
            //- .auth0-lock-content
          
            button.auth0-lock-submit(type='submit')
              .auth0-loading-container
                .auth0-loading
              i.auth0-lock-icon
          //- .auth0-lock-widget
          
          .auth0-lock-confirmation  
        
            svg.auth0-lock-go-back(enable-background='new 0 0 24 24', version='1.0', viewbox='0 0 24 24', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
              polyline(fill='none', points='12.5,21 3.5,12 12.5,3 ', stroke='#000000', stroke-miterlimit='10', stroke-width='2')
              line(fill='none', stroke='#000000', stroke-miterlimit='10', stroke-width='2', x1='22', x2='3.5', y1='12', y2='12')

            svg.checkmark(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
              circle.checkmark__circle(cx='26', cy='26', r='25', fill='none')
              path.checkmark__check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
            p
              | We sent you a link to sign in. 
              br
              | Please check your inbox. 
            
            a(href="") 
              | Resend Again 
              svg(height='32px', style='enable-background:new 0 0 32 32;', version='1.1', viewbox='0 0 32 32', width='32px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                path(d='M27.877,19.662c0.385-1.23,0.607-2.531,0.607-3.884c0-7.222-5.83-13.101-13.029-13.194v4.238    c4.863,0.093,8.793,4.071,8.793,8.956c0,0.678-0.088,1.332-0.232,1.966l-3.963-1.966l2.76,8.199l8.197-2.762L27.877,19.662z')
                path(d='M7.752,16.222c0-0.678,0.088-1.332,0.232-1.967l3.963,1.967l-2.76-8.199L0.99,10.785l3.133,1.553    c-0.384,1.23-0.607,2.531-0.607,3.885c0,7.223,5.83,13.1,13.03,13.194v-4.238C11.682,25.086,7.752,21.107,7.752,16.222z')

          a.auth0-lock-badge.auth0-lock-icon(href='https://auth0.com/', target='_blank')    

        //- .auth0-lock-center
      //- .auth0-lock
  
