/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

.output-box {
  margin-bottom: 0;
  min-height: 460px;
}

.help-block {
  margin-bottom: 0;
}

.modal {
  background: transparent;
}

.container {
  max-width: 1416px;
}

/* */
body {
  background: url('img/bg-dots.svg') repeat scroll 0 0 #fafafa;
  background-size: 100px;
}

a {
  color: #4A90E2;

  &:hover,
  &:focus {
    color: shade(#4A90E2, 30%);
  }
}

.form-group {
  margin-bottom: 40px;


  @media (min-width: 768px) {

    .col-left {
      padding-right: 7.5px;
    }

    .col-right {
      padding-left: 7.5px;
    }
  }
}

.form-group-aux {

  @media (min-width: 992px) {
    width: 90%;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

// page header
.page-header {
  border-bottom: 0;
  margin: 20px 0;
  padding-bottom: 0;
  position: relative;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .wrapper {
    position: relative;
  }

  .text-center-title {

    @media (min-width: 992px) {
      height: 289px;
    }
  }

  h1 {
    color: #000;
    display: inline-block;
    font-size: 40px;
    line-height: normal;
    text-align: center;

    @media (min-width: 768px) {
      margin-top: 60px;
      padding: 40px 0 0 42px;
      text-align: left;
      position: relative;
    }

    @media (min-width: 992px) {
      font-size: 70px;
      margin-top: 20px;
      padding: 40px 0 0 54px;

      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .page-header-logo {
    display: block;
    margin: 0 auto;
    width: 174px;

    @media (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
    }

    @media (min-width: 992px) {
      width: 234px;
    }
  }

  .page-header-playground-image {
    width: 200px;
    margin-bottom: -159px;

    @media (min-width: 992px) {
      width: 272px;
      margin-bottom: -216px;
    }
  }
}

// page content
.page-content {
  position: relative;

  @media (min-width: 768px) {

    .content-col-left {
      padding-right: 7.5px;
    }

    .content-col-right {
      padding-left: 7.5px;

      .nav > li > a {
        padding-top: 9px;
        padding-bottom: 28px;
      }
    }
  }

  @media (min-width: 992px) {

    .content-col-right {

      .nav > li > a {
        padding-top: 10px;
      }
    }
  }
}

.wrapper-box {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;

  h2 {
    font-size: 18px;

    @media (min-width: 992px) {
      font-size: 22px;
    }
  }
}

.wrapper-box-header {
  border-bottom: 1px solid #f1f1f1;
  margin: 0 -20px;
  padding-right: 20px;
  padding-left: 20px;

  h2 {
    margin: 5px 0 25px 0;

    @media (min-width: 992px) {
      margin: 5px 0 25px 0;
    }
  }
}

.login-without-password {

  .wrapper-box-header {
    margin-bottom: 20px;
  }

  h2 {
    margin: 5px 0 25px 0;

    @media (min-width: 992px) {
      margin: 5px 0 25px 0;
    }
  }
}

.wrapper-customization {

  @media (min-width: 992px) {
    min-height: 775px;
  }
}

.nav.nav-tabs {
  font-size: 14px;
  margin: 0 -20px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: 992px) {
    font-size: 18px;
  }

  li {
    margin-top: 0;
  }
}

.nav > li > a {
  color: #9b9b9b;
  padding-top: 26px;
  padding-bottom: 24px;

  &:hover {
    color: shade(#9b9b9b, 30%);
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
  border-bottom: 1px solid #000;
  outline: 0;
}

.panel {
  border: 0;
  border-radius: 3px;
  box-shadow: none;
}

.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #f1f1f1;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;

  .panel-title {
    color: #000;
  }
}

// form
pre {
  background-color: rgba(155, 155, 155, 0.05);
  border-radius: 3px;
}

.hljs {
  background-color: transparent;
}

input[type="radio"],
input[type="checkbox"] {}

.form-group-checkbox {
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: 768px) {
    margin-bottom: 28px;
  }

  @media (min-width: 992px) {
    margin-top: 0;
    margin-bottom: 0;
  }

  input[type="radio"],
  input[type="checkbox"] {
    float: right;

    @media (min-width: 768px) {
      float: left;
      margin-top: 2px;
      margin-right: 10px;
    }
  }

  .control-label {
    float: left;

    @media (min-width: 768px) {
      line-height: inherit;
    }
  }
}

.form-group-checkbox-inline {
  margin-top: 12px;
  margin-bottom: 5px;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
  }

  input[type="radio"],
  input[type="checkbox"] {

    @media (min-width: 768px) {
      float: none;
      margin-top: 0;
      position: relative;
      top: -2px;
    }
  }

  .control-label {
    padding-right: 0;
    padding-left: 0;

    @media (min-width: 768px) {
      line-height: inherit;
      padding-right: inherit;
    }

    @media (min-width: 992px) {
      padding-left: inherit;
    }
  }
}

.form-group-checkbox-inline-aux {

  @media (min-width: 992px) {
    margin-top: -20px;
    margin-bottom: 20px;
  }
}

.form-group-button {
  margin-top: 25px;
  margin-bottom: 5px;
}

.control-label {
  color: #000;
  font-size: 12px;

  @media (min-width: 768px) {
    line-height: 46px;
    padding-top: 0 !important;
  }

  &.lines-2 {

    @media (min-width: 768px) {
      line-height: inherit;
    }

    @media (min-width: 1212px) {
      line-height: 46px;
    }
  }
}

.form-control {
  background-color: rgba(155, 155, 155, 0.05);
  border-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  height: 46px;
  padding: 12px;

  &:focus {
    border-color: #00ADB5;
    box-shadow: none;
  }
}

.checkbox-wrapper {

  @media (min-width: 992px) {
    line-height: 46px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
    position: relative;
    top: -1px;

    @media (min-width: 992px) {
      float: left;
      margin-top: 20px;
      position: static;
      top: auto;
    }
  }
}

.btn.btn-primary,
a.btn.btn-primary {
  background-color: #00ADB5;
  font-weight: normal;

  &:hover {
    background-color: shade(#00ADB5, 30%);
  }
}

.output-box-result {
  background-color: rgba(34, 34, 40, 0.9);
  border-radius: 3px;
  margin-top: 25px;
  padding: 25px 0;
}

// diagonal lines
.container {
  overflow: hidden;


}

.dummy-skew-1 {
  // overflow: hidden;
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00221b;
  -webkit-transform: skewY(-14deg);
  z-index: 2;
}

.dummy-skew-2 {
  position: absolute;
  top: 136%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9b9b9b;
  // -webkit-transform: skewY(-14deg);
  z-index: 1;

  &:after {
    background-color: #9b9b9b;
    content: '';
    display: block;
    -webkit-transform: skewY(-14deg);
    width: 100%;
    height: 40%;
    position: absolute;
    // top: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
