.output-box { margin-bottom: 0; min-height: 460px; }

.help-block { margin-bottom: 0; }

.modal { background: transparent; }

.container { max-width: 1416px; position: relative; z-index: 3; }

a { color: #4A90E2; }
a:hover, a:focus { color: #33649e; }

.form-group { margin-bottom: 40px; }
@media (min-width: 768px) { .form-group .col-left { padding-right: 7.5px; }
  .form-group .col-right { padding-left: 7.5px; } }

@media (min-width: 992px) { .form-group-aux { width: 90%; margin-right: auto !important; margin-left: auto !important; } }

.page-header { border-bottom: 0; margin: 20px 0; padding-bottom: 0; position: relative; }
@media (min-width: 768px) { .page-header { margin-bottom: 0; margin-top: 40px; } }
.page-header .wrapper { position: relative; }
@media (min-width: 992px) { .page-header .text-center-title { height: 289px; } }
.page-header h1 { color: #000; display: inline-block; font-size: 40px; line-height: normal; text-align: center; }
@media (min-width: 768px) { .page-header h1 { margin-top: 60px; padding: 40px 0 0 42px; text-align: left; position: relative; } }
@media (min-width: 992px) { .page-header h1 { font-size: 70px; margin-top: 20px; padding: 40px 0 0 54px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); } }
.page-header .page-header-logo { display: block; margin: 0 auto; width: 174px; }
@media (min-width: 768px) { .page-header .page-header-logo { position: absolute; top: 0; left: 0; } }
@media (min-width: 992px) { .page-header .page-header-logo { width: 234px; } }
.page-header .page-header-playground-image { width: 200px; margin-bottom: -159px; }
@media (min-width: 992px) { .page-header .page-header-playground-image { width: 272px; margin-bottom: -216px; } }

.page-content { position: relative; }
@media (min-width: 768px) { .page-content .content-col-left { padding-right: 7.5px; }
  .page-content .content-col-right { padding-left: 7.5px; }
  .page-content .content-col-right .nav > li > a { padding-top: 9px; padding-bottom: 28px; } }
@media (min-width: 992px) { .page-content .content-col-right .nav > li > a { padding-top: 10px; } }

.wrapper-box { background-color: #fff; border-radius: 3px; padding: 20px; }
.wrapper-box h2 { font-size: 18px; }
@media (min-width: 992px) { .wrapper-box h2 { font-size: 22px; } }

.wrapper-box-header { border-bottom: 1px solid #f1f1f1; margin: 0 -20px; padding-right: 20px; padding-left: 20px; }
.wrapper-box-header h2 { margin: 5px 0 25px 0; }
@media (min-width: 992px) { .wrapper-box-header h2 { margin: 5px 0 25px 0; } }

.login-without-password .wrapper-box-header { margin-bottom: 20px; }
.login-without-password h2 { margin: 5px 0 25px 0; }
@media (min-width: 992px) { .login-without-password h2 { margin: 5px 0 25px 0; } }

@media (min-width: 992px) { .wrapper-customization { min-height: 775px; } }

.nav.nav-tabs { font-size: 14px; margin: 0 -20px; padding-right: 20px; padding-left: 20px; }
@media (min-width: 992px) { .nav.nav-tabs { font-size: 18px; } }
.nav.nav-tabs li { margin-top: 0; }

.nav > li > a { color: #9b9b9b; padding-top: 26px; padding-bottom: 24px; }
.nav > li > a:hover { color: #6c6c6c; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { border: 0; border-bottom: 1px solid #000; outline: 0; }

.panel { border: 0; border-radius: 3px; box-shadow: none; }

.panel-default > .panel-heading { background-color: #fff; border-color: #f1f1f1; color: #000; padding-top: 20px; padding-bottom: 20px; }
.panel-default > .panel-heading .panel-title { color: #000; }

pre { background-color: rgba(155, 155, 155, 0.05); border-radius: 3px; }

.hljs { background-color: transparent; }

.form-group-checkbox { padding-top: 12px; padding-bottom: 12px; }
@media (min-width: 768px) { .form-group-checkbox { margin-bottom: 28px; } }
@media (min-width: 992px) { .form-group-checkbox { margin-top: 0; margin-bottom: 0; } }
.form-group-checkbox input[type="radio"], .form-group-checkbox input[type="checkbox"] { float: right; }
@media (min-width: 768px) { .form-group-checkbox input[type="radio"], .form-group-checkbox input[type="checkbox"] { float: left; margin-top: 2px; margin-right: 10px; } }
.form-group-checkbox .control-label { float: left; }
@media (min-width: 768px) { .form-group-checkbox .control-label { line-height: inherit; } }

.form-group-checkbox-inline { margin-top: 12px; margin-bottom: 5px; }
@media (min-width: 768px) { .form-group-checkbox-inline { margin-top: 0; margin-bottom: 0; } }
@media (min-width: 768px) { .form-group-checkbox-inline input[type="radio"], .form-group-checkbox-inline input[type="checkbox"] { float: none; margin-top: 0; position: relative; top: -2px; } }
.form-group-checkbox-inline .control-label { padding-right: 0; padding-left: 0; }
@media (min-width: 768px) { .form-group-checkbox-inline .control-label { line-height: inherit; padding-right: inherit; } }
@media (min-width: 992px) { .form-group-checkbox-inline .control-label { padding-left: inherit; } }

@media (min-width: 992px) { .form-group-checkbox-inline-aux { margin-top: -20px; margin-bottom: 20px; } }

.form-group-button { margin-top: 25px; margin-bottom: 5px; }

.control-label { color: #000; font-size: 12px; }
@media (min-width: 768px) { .control-label { line-height: 46px; padding-top: 0 !important; } }
@media (min-width: 768px) { .control-label.lines-2 { line-height: inherit; } }
@media (min-width: 1212px) { .control-label.lines-2 { line-height: 46px; } }

.form-control { background-color: rgba(155, 155, 155, 0.05); border-color: transparent; border-radius: 3px; box-shadow: none; height: 46px; padding: 12px; }
.form-control:focus { border-color: #00ADB5; box-shadow: none; }

@media (min-width: 992px) { .checkbox-wrapper { line-height: 46px; } }
.checkbox-wrapper input[type="radio"], .checkbox-wrapper input[type="checkbox"] { margin-top: 0; position: relative; top: -1px; }
@media (min-width: 992px) { .checkbox-wrapper input[type="radio"], .checkbox-wrapper input[type="checkbox"] { float: left; margin-top: 20px; position: static; top: auto; } }

.btn.btn-primary, a.btn.btn-primary { background-color: #00ADB5; font-weight: normal; }
.btn.btn-primary:hover, a.btn.btn-primary:hover { background-color: #00797e; }

.output-box-result { background-color: rgba(34, 34, 40, 0.9); border-radius: 3px; margin-top: 25px; padding: 25px 0; }

.skew-wrapper { background: url("img/bg-dots.svg") repeat scroll 0 0 #fafafa; background-size: 100px; position: relative; overflow: hidden; z-index: 1; }

.skew-1, .skew-2 { position: absolute; left: 0; width: 100%; height: calc(50%); -webkit-transform: skewY(-14deg); -ms-transform: skewY(-14deg); transform: skewY(-14deg); }

.skew-1 { background-color: #f0f0f0; top: 25%; z-index: 2; }

.skew-2 { background-color: #eaeaea; top: 75%; z-index: 1; }

/*# sourceMappingURL=index.css.map */