.help-block {
  margin-bottom: 0;
}

.hljs {
  background: #f5f5f5;
}

.modal {
  background: transparent;
}

.container {
  max-width: 1416px;
}

.form-group {
  margin-bottom: 8px;
}

div.tooltip { min-width: 150px; }

/* */
body {
  background-color: #f0f0f0;
  font-family: "Avenir", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Avenir", sans-serif; 
}

a { 
  color: #4A90E2;
} 

// page header
.page-header {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  
  .wrapper {
    position: relative;
  }
  
  .text-center-title {
    height: 289px;
  }

  h1 {
    color: #000;
    display: inline-block;
    font-size: 70px;
    line-height: 100px;
    padding-left: 54px;
    text-align: left;
    
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    &:before {
      background: url('img/logo_auth0.svg') no-repeat scroll 0 0 transparent;
      background-size: contain;
      content: '';
      width: 34px;
      height: 38px;
      position: absolute;
      top: -4px;
      left: 0;
    }
    
    small {
      color: inherit;
      font-size: 30px;
      display: block;
    }
  }
  
  .page-header-logo {
    width: 34px;
    position: absolute;
    top: -4px;
    left: 0;
  }
  
  .page-header-playground-image {}
}

.wrapper-box {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  
  h2 {
    font-size: 22px;
  }
}

.wrapper-box-header {
  border-bottom: 1px solid #f1f1f1;
  margin: 0 -20px;
  padding-right: 20px;
  padding-left: 20px;
  
  h2 {
    margin: 5px 0 25px 0;
  }
}

.login-without-password {

  h2 {
    margin: 5px 0 25px 0;
  }
}

.nav.nav-tabs {
  margin: 0 -20px;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  border: 0;
  border-bottom: 1px solid #000;
  outline: 0;
}

.panel {
  border: 0;
  border-radius: 3px;
  box-shadow: none;
}

.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #f1f1f1;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;

  .panel-title {
    color: #000;
  }
}

// form
.form {}

input[type="radio"], 
input[type="checkbox"] {
  float: left;
  margin-top: 20px;
}

.form-group-button {
  margin-top: 25px;
  margin-bottom: 5px;
}

.control-label {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 39px;
}

.form-control {
  background-color: rgba(155, 155, 155, 0.05);
  border-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  height: 46px;
  padding: 12px;
  
  &:focus {
    border-color: #00ADB5;
    box-shadow: none;
  }
}

.checkbox-wrapper {
  line-height: 46px;
}

.btn.btn-primary, 
a.btn.btn-primary {
  background-color: #00ADB5;
  
  &:hover {
    background-color: #00ADB5;
  }
}
