// General Rules

*{
	font-family: "proxima_nova_rgregular" !important;
	font-smoothing: antialiased; 
}

body{
	color: #4d4d4d;
}

h1,h2,h3{
    font-family: "proxima_novathin"!important;
}

a,button{
	font-family: "proxima_novasemibold"!important;
	transition: all 0.2s ease;
}


.logo{
	margin-top: 10px;
	display: block;
	img{
		height: 20px;
		width: auto;
	}
}

button.primary{
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	display: block !important;
	width: 100% !important;
	float: none;
	min-width: auto;
	letter-spacing: 1px;
	padding: 20px 0;
	margin-bottom: 10px;
	margin-top: 20px;
	background-color: #16214D;
	color: white;
	cursor: pointer;
	display: block;
	border-radius: 3px;
	&:hover{
		background: #0b1025
	}
}