// General Rules

*{
	font-family: "proxima_nova_rgregular" !important;
	font-smoothing: antialiased; 
}

body{
	color: #4d4d4d;
}

h1,h2,h3{
    font-family: "proxima_novathin"!important;
}

a{
	font-family: "proxima_novasemibold"!important;
	transition: all 0.2s ease;
}


.logo{
	padding: 10px 0;
	display: block;
	img{
		width: 20px;
		height: 20px;
	}
}