.popup .centrix {
  padding: 0;
  vertical-align: middle;
  display: table-cell;
  margin: 0;
}

.popup .overlay.ie8-overlay {
  background: none;
  background-image: url('https://s3.amazonaws.com/assets.auth0.com/w2/img/bg-transp.png')
}

.popup .overlay {
  margin: 0;
  display: table;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  font-weight: 200;
  user-select: none;
  background: #000;
  background: rgba(0,0,0,0.8);
  background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.45) 1%, rgba(0,0,0,0.8) 100%);
  opacity: 0;
  transition: 400ms opacity ease;
  transform: translate3d(0, 0, 0);
}

.popup .overlay.active {
  opacity: 1;
}

.popup .overlay .panel {
  // box-sizing: border-box;
  // left: 50%;
  display: none;
  margin: 0 auto;
}

.popup .overlay .panel.active {
  display: block;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease;
  -webkit-animation-name: showPanel;
}

.popup .overlay .panel {
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease;
  -webkit-animation-name: hidePanel;
  width: 280px;
}

.email {
  margin-bottom: 14px;
}

.password, .repeatPassword {
  margin-bottom: 14px;
}

.email-readonly {
  text-align: center;
  display: inherit;
  color: #41444a;
  font-weight: bold;
  margin-bottom: 25px;
}

.panel .signup .header, .panel .reset .header {
  margin-bottom: 15px;
  font-size: 14px;
  color: #41444a;
}

.panel .signup .footer {
  margin-bottom: 15px;
  font-size: 12px;
  color: #41444a;
  text-align: left;
  margin-top: 10px;
}

.panel .loading {
  height: 70px;
}

@-moz-keyframes showPanel {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
  }
}
@-webkit-keyframes showPanel {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
  }
}
@-o-keyframes showPanel {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
  }
}
@-ms-keyframes showPanel {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
  }
}
@keyframes showPanel {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
  }
}
@-moz-keyframes hidePanel {
  0% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: scale(0.98) translate3d(0, 0, 0);
  }
}
@-webkit-keyframes hidePanel {
  0% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: scale(0.98) translate3d(0, 0, 0);
  }
}
@-o-keyframes hidePanel {
  0% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: scale(0.98) translate3d(0, 0, 0);
  }
}
@-ms-keyframes hidePanel {
  0% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: scale(0.98) translate3d(0, 0, 0);
  }
}
@keyframes hidePanel {
  0% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: scale(0.98) translate3d(0, 0, 0);
  }
}

.popup .panel {
  background: #fafafa;
  background-image: -webkit-linear-gradient(#fff, #fafafa);
  background-image: -moz-linear-gradient(#fff, #fafafa);
  background-image: -ms-linear-gradient(#fff, #fafafa);
  background-image: -o-linear-gradient(#fff, #fafafa);
  background-image: linear-gradient(#fff, #fafafa);
  z-index: 10;
  -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.2), 0 10px 27px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.2), 0 10px 27px rgba(0,0,0,0.7);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2), 0 10px 27px rgba(0,0,0,0.7);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-touch-callout: none;
}

.popup .panel:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  -moz-box-shadow: inset 0 -1px 2px rgba(82,93,112,0.4);
  -webkit-box-shadow: inset 0 -1px 2px rgba(82,93,112,0.4);
  box-shadow: inset 0 -1px 2px rgba(82,93,112,0.4);
}

.popup .panel .top-header {
  display: block;
  position: relative;
  min-height: 65px;
  overflow: hidden;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background: #f1f4f6;
  background-image: -webkit-linear-gradient(#f1f4f6, #e9edf0);
  background-image: -moz-linear-gradient(#f1f4f6, #e9edf0);
  background-image: -ms-linear-gradient(#f1f4f6, #e9edf0);
  background-image: -o-linear-gradient(#f1f4f6, #e9edf0);
  background-image: linear-gradient(#f1f4f6, #e9edf0);
  border-bottom: 1px solid rgba(40,69,85,0.11);
}

.popup .panel .top-header:before {
  content: '';
  position: absolute;
  height: 5px;
  bottom: -1px;
  left: 0;
  right: 0;
  background-image: -webkit-linear-gradient(rgba(40,69,85,0), rgba(40,69,85,0.1));
  background-image: -moz-linear-gradient(rgba(40,69,85,0), rgba(40,69,85,0.1));
  background-image: -ms-linear-gradient(rgba(40,69,85,0), rgba(40,69,85,0.1));
  background-image: -o-linear-gradient(rgba(40,69,85,0), rgba(40,69,85,0.1));
  background-image: linear-gradient(rgba(40,69,85,0), rgba(40,69,85,0.1));
}

.popup .panel .top-header:after {
content: '';
position: absolute;
height: 4px;
bottom: 0;
left: 0;
right: 0;
background-image: -webkit-linear-gradient(left, #e9edf0, rgba(241,244,246,0), #e9edf0);
background-image: -moz-linear-gradient(left, #e9edf0, rgba(241,244,246,0), #e9edf0);
background-image: -ms-linear-gradient(left, #e9edf0, rgba(241,244,246,0), #e9edf0);
background-image: -o-linear-gradient(left, #e9edf0, rgba(241,244,246,0), #e9edf0);
background-image: linear-gradient(left, #e9edf0, rgba(241,244,246,0), #e9edf0);
}

.popup .panel .header h1 {
  padding: 21px 20px;
  margin: 0;
  font-size: 18px;
  color: #41444a;
  font-weight: bold;
  border-bottom: 1px solid #DDE3E6;
  text-align: left;
}

.popup .panel .header a {
  display: block;
  overflow: hidden;
  text-indent: 200%;
  position: absolute;
  width: 12px;
  opacity: 0.4;
  padding: 5px;
  z-index: 5;
}

.popup .panel .header a:hover {
  opacity: 0.66;
}

.popup .panel .header a:active {
  opacity: 1;
}

.popup .panel .header a.close {
  height: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 12px 12px;
  right: 19px;
  top: 21px;
  cursor: pointer;
}

.popup .panel .header a.close:hover {
  opacity: 0.66;
}

.popup .panel .header img {
  height: 32px;
  margin: 16px 10px 10px 20px;
  position: relative;
  float: left;
}

.action .spinner {
  width: 100%;
  background-color: #6A777F;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 44px;
  border: 1px solid #777;
  border-color: rgba(0,0,0,0.2);
  border-bottom-color: #333;
  border-bottom-color: rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  -webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  -moz-user-select: none;
  user-select: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
}

.popup .panel .footer {
  display: block;
  position: relative;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  margin: 0 15px;
  border-top: 1px solid #DDE3E6;
  z-index: 5;
}

.popup .panel .footer.hide {
  height: 1px;
  border-top: 0px;
}

.popup .panel .footer.hide span {
  display: none;
}

.popup .panel .footer span {
  font-size: 10px;
  color: #666;
}

.popup .panel .footer a {
  font-size: 9px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.list, .iconlist {
  margin: 25px 0;
  position: relative;
  z-index: 5;
}

.list:before, .list:after,
.iconlist:before, .iconlist:after {
  display: table;
  content: "";
}

.list:after, .iconlist:after {
  clear: both;
}

.list span {
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

.iconlist {
  text-align: center;
}

.iconlist span {
  margin: 0 2px;
}

.forgot-pass {
  font-size: 12px;
  color: rgb(102, 102, 102);
  font-weight: normal;
}

.create-account {
  margin-top: 20px;
  text-align: center;
}

.create-account a {
  font-size: 12px;
  color: rgb(109, 109, 109);
  text-decoration: none;
}

.create-account a:hover {
  text-decoration: underline;
}

.loggedin span.centered.all {
  color: #008CDD;
  cursor: pointer;
}

.loggedin span.centered {
  text-align: center;
  padding: 5px 0;
  margin: 15px 0 5px;
  font-size: 13px;
  display: block;
}

.loggedin span.centered.all:hover {
  text-decoration: underline;
}

.signup .options a.cancel, .reset .options a.cancel {
  color: #008CDD;
  cursor: pointer;
  text-decoration: none;
}

.signup .options a.cancel:hover, .reset .options a.cancel:hover {
  text-decoration: underline;
}

.signup .options, .reset .options {
  text-align: center;
  padding: 5px 0;
  margin: 15px 0 5px;
  font-size: 13px;
  display: block;
}

form {
  margin: 30px !important;
  margin-bottom: 22px;
  position: relative;
  z-index: 5;
}

form span {
  font-size: 16px;
}

form label a {
  color: #7F8899;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
}

form label {
  display: block;
  color: #7F8899;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 7px 0;
  text-shadow: 0 1px 0 white;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  padding: 10px 12px;
  border: 1px solid #B4BECD;
  border-top-color: #B0BACA;
  border-bottom-color: #D3D9E2;
  -moz-box-shadow: inset 0 1px 2px rgba(130,137,150,0.23), 0 1px 0 rgba(255,255,255,0.85);
  -webkit-box-shadow: inset 0 1px 2px rgba(130, 137, 150, 0.23), 0 1px 0 rgba(255, 255, 255, 0.85);
  box-shadow: inset 0 1px 2px rgba(130, 137, 150, 0.23), 0 1px 0 rgba(255, 255, 255, 0.85);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /*color: black;*/
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif;
}

.placeholder {
  color: #ccc;
}

form input:focus {
  border-color: #5695DB #70A7E4 #89B8EC #70A7E4;
  outline: none;
  -moz-box-shadow: inset 0 1px 2px rgba(70,123,181,0.35), 0 0 4px #5695db;
  -webkit-box-shadow: inset 0 1px 2px rgba(70, 123, 181, 0.35), 0 0 4px #5695DB;
  box-shadow: inset 0 1px 2px rgba(70, 123, 181, 0.35), 0 0 4px #5695DB;
}

form .invalid input {
  outline: none;
  border-color: #FF7076;
  border-top-color: #FF5C61;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 4px 0 rgba(255,0,0,0.5);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(255, 0, 0, 0.5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(255, 0, 0, 0.5);
}

.header .error {
  padding: 9px 0px;
  margin: 10px auto;
  width: 70%;
  font-size: 14px;
  line-height: 13px;
  color: rgb(185, 83, 83);
  text-align: center;
}

.header .success {
  padding: 9px 0px;
  margin: 10px auto;
  width: 70%;
  font-size: 14px;
  line-height: 13px;
  color: rgb(15, 173, 41);
  text-align: center;
}

form .note {
  display: block;
  color: #7F8899;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 7px 0;
  text-shadow: 0 1px 0 white;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

form .note a {
  color: #008CDD;
  text-decoration: none;
}

form .invalid .error {
  visibility: visible;
}

form button {
  display: block;
  margin: 20px 0 0 0;
  cursor: pointer;
  width: 100%;
}

.action {
  text-align: right;
  margin: 0 30px 30px 30px;
  position: relative;
  z-index: 5;
}

form .action {
  margin: 0;
}

.action button {
  width: auto;
}

.separator {
  position: relative;
  text-align: center;
  margin: 0 0 25px 0;
}

.separator:before {
  content: "";
  display: block;
  border-top: 1px solid #7F8899;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.separator span {
  background: #fafafa;
  padding: 0 10px;
  position: relative;
  z-index: 5;
  color: #7F8899;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
}


span.back {
  display: block;
  color: #008CDD;
  text-align: center;
  padding: 5px 0;
  margin: 15px 0 5px;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  z-index: 5;
  outline: 0;
}

span.back:hover {
  text-decoration: underline;
}

.signin .panel.strategies .list .email {
  display: block;
  color: #7F8899;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 7px 0;
  text-shadow: 0 1px 0 white;
  text-align: center;
}

.zocial.office365:before {content: "W";}
.zocial.office365 {background-color: #00ACED; color: #fff;}
.zocial.waad:before {content: "z";}
.zocial.waad {background-color: #00ADEF; color: #fff;}
.zocial.thirtysevensignals:before {content: "b";}
.zocial.thirtysevensignals {background-color: #6AC071; color: #fff;}
.zocial.box:before {content: "x";}
.zocial.box {background-color: #267bb6; color: #fff;}
.zocial.salesforce:before {content: "*";}
.zocial.salesforce {background-color: #fff; color: #ff0000;}
.zocial.windows {background-color: #2672EC; color: #fff;}
.zocial.fitbit:before {content: "#";}
.zocial.fitbit {background-color: #45C2C5; color: #fff;}
.zocial.yandex:before {content: "&";}
.zocial.yandex {background-color: #FF0000; color: #fff;}
.zocial.renren:before {content: "r";}
.zocial.renren {background-color: #0056B5; color: #fff;}
.zocial.baidu:before {content: "u";}
.zocial.baidu {background-color: #2832E1; color: #fff;}

.popup .overlay .onestep {
  width: 345px;
}

@media (max-width: 280px) {
  .popup .panel .header a.close {
    visibility: hidden;
  }
  .popup #onestep {
    transition: none;
  }

  .popup #onestep {
    height: 100%;
  }

  .popup .centrix {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
  }

  .popup .overlay .panel {
    width: 240px;
    margin: 0 0 0 -120px;
  }
  .popup .zocial, .popup a.zocial {
    /*
    it doesnt look right.
     font-size: 9px;
     */
  }
  .signin .popup .panel.strategies .list {
    margin: 12px;
  }
  form {
    margin: 12px;
  }
  form input {
    padding: 5px;
  }
  .popup .panel .header {
    margin: 0;
    padding: 0;
  }
  .popup .panel .header h1 {
    padding: 14px 16px;
    margin: 0;
    font-size: 22px;
  }
  .popup .panel .header a.close {
    right: 14px;
    top: 16px;
  }
}

@media  (min-width: 281px) and (max-width: 340px) {
  .popup .panel .header a.close {
    visibility: hidden;
  }
  .popup #onestep {
    transition: none;
  }

  .popup #onestep {
    height: 100%;
  }

  .popup .centrix {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
  }

  .popup .overlay .panel {
    margin: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .popup .zocial, .popup a.zocial {
    font-size: 18px;
  }
  .signin .popup .panel.strategies .list {
    margin: 15px;
  }
  form {
    margin: 15px 25px;
  }
  form input {
    padding: 6px;
    font-size: 18px;
  }
  .popup .panel .header {
    margin: 0;
    padding: 0;
    min-height: 32px;
  }
  .popup .panel .header h1 {
    padding: 12px 16px;
    margin-top: 1px;
    font-size: 20px;
  }

  .popup .panel .header img {
    height: 32px;
    margin: 9px 10px 6px 18px;
  }

  .zocial.primary {
    line-height: 34px;
  }

  .action .spinner {
    height: 34px;
  }

  .create-account {
    margin-top: 20px;
  }

  .popup .email {
    margin-bottom: 5px;
  }

  .popup .password, .popup .repeatPassword {
    margin-bottom: 5px;
  }
}

@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index:99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin:0%;
  }

  30% {
    opacity: 1;
    -moz-transform:rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin:7%;
  }

  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin:30%;
  }

  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin:39%;
  }

  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin:70%;
  }

  76% {
    opacity: 0;
    -moz-transform:rotate(900deg);
  }

  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }

}

@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index:99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin:0%;
  }

  30% {
    opacity: 1;
    -webkit-transform:rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin:7%;
  }

  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin:30%;
  }

  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin:39%;
  }

  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin:70%;
  }

  76% {
    opacity: 0;
    -webkit-transform:rotate(900deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }

}

@-ms-keyframes orbit {
  0% {
    opacity: 1;
    z-index:99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin:0%;
  }

  30% {
    opacity: 1;
    -ms-transform:rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin:7%;
  }

  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin:30%;
  }

  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin:39%;
  }

  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin:70%;
  }

  76% {
    opacity: 0;
    -ms-transform:rotate(900deg);
  }

  100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }

}

@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index:99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin:0%;
  }

  30% {
    opacity: 1;
    -o-transform:rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin:7%;
  }

  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin:30%;
  }

  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin:39%;
  }

  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin:70%;
  }

  76% {
    opacity: 0;
    -o-transform:rotate(900deg);
  }

  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }

}

@keyframes orbit {
    0% {
      opacity: 1;
      z-index:99;
      transform: rotate(180deg);
      animation-timing-function: ease-out;
    }

  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin:0%;
  }

  30% {
    opacity: 1;
    transform:rotate(410deg);
    animation-timing-function: ease-in-out;
    origin:7%;
  }

  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin:30%;
  }

  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin:39%;
  }

  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin:70%;
  }

  76% {
    opacity: 0;
    transform:rotate(900deg);
  }

  100% {
    opacity: 0;
    transform: rotate(900deg);
  }

}

input[disabled]{
  background-color: rgb(217, 222, 224);
}

#onestep {
  overflow: hidden;
  height: auto;
  transition: height 100ms ease-in;
}

#onestep.disable-transition {
  transition: none;
}

#onestep .loading {
  min-height: 110px;
}

.spin-container {
  position: relative;
  // left: 50%;
  top: 50%;
}

.spin-img {
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
}