.widget {
	@import "normalize.less";
	@import "reset.less";
}

#widget {
	@import "fonts.less";
	@import "animate.less";
	@import "keyframes.less";
	@import "zocial.less";
	@import "common.less";
	@import "spinner.less";
}

@media screen and (max-width: 480px) {
	#widget{
		position: fixed;
		top: 0;
		right: 0;
		z-index: -1;
		left: 0;
		bottom: 0;
		min-height: 600px;
		background: white;
		z-index: 100000;
		border-radius: 0;
		overflow-y: scroll;
		opacity: 1;
	}
}