#change_password{
	.password{
		margin-bottom: 0;
		input{
			border-bottom: 0;
			border-radius: 0;
		}

	}
	.repeatPassword{
		margin-bottom: 20px;
		input{
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
}