.spinner-css{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.5em;
  display:block;
  width: 5em;
  font-size: 30px;
  color: #D0D2D3;
  border-radius: 2.5em 0 2.5em 2.5em;
  -webkit-animation: spinner 2s ease-in-out 0s infinite;
  //-webkit-transform: rotateY(30deg);
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 1.8em;
    background: white;
    top: 2.5em;
    left: 1.6em;
    font-family: auth0 !important;
    content:"a";
  }
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}

// @keyframes rotate {
//   to {
//     transform: rotate(360deg);
//   }
// }
// body {
//   background: #ddd;
//   padding: 100px;
// }

// /* The default for nice browsers */
// .spinner {
//   width: 20px;
//   height: 20px;
//   background: url("http://media.24ways.org/2009/15/assets/img/spinner.png") no-repeat center center;
//   background-size: 20px;
//   animation-name: rotate;
//   animation-duration: 1s;
//   animation-iteration-count: infinite;
//   animation-timing-function: linear;
//   /* If Canvas is on IE9, it adds the .ie9 class to the body tag, so ... */
//   /* If you want a large spinner */
// }
// .ie9 .spinner {
//   background: url("best-best-crappy-gif-you-can-find") no-repeat center center;
//   background-size: auto;
// }
// .spinner.spinner-large {
//   width: 40px;
//   height: 40px;
//   background-size: 40px;
// }
