<div class="a0-loading a0-mode">
  <div class="a0-spinner a0-spin-container">
      <div class="a0-spinner-css"></div>
      <div class="a0-spinner-bg"></div>
  </div>
  <div class="a0-spin-message">
      <span>&nbsp;</span>
  </div>
</div>
