.theme-static .popup .overlay, .theme-static .popup .overlay.ie8-overlay {
  background: rgba(255, 255, 255, 0);
  background-color: transparent;
}

.theme-static .popup .panel {
  background: none;
  background: #ffffff;
}

.theme-static .popup .panel:after {
  display: none;
}

@-moz-keyframes showPanel {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes showPanel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes showPanel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes showPanel {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes showPanel {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes hidePanel {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hidePanel {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-o-keyframes hidePanel {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-ms-keyframes hidePanel {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hidePanel {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.theme-static .separator span {
  background: #fff;
}