<div id="a0-lock" class="a0-lock" dir="auto">
    <div class="a0-signin">
        <div class="a0-popup">
            <div class="a0-overlay">
                <div class="<%= locals && locals.options.container ? '' : 'a0-centrix' %>">
                    <% include lock %>
                </div>
            </div>
        </div>
    </div>
</div>
