<div id="a0-lock" class="a0-lock<%= (locals && locals.options.theme) ? ' a0-theme-' + locals.options.theme : ''%>" dir="auto">
  <div class="a0-signin">
    <div class="a0-popup <%= (locals && locals.cordova) ? 'a0-cordova' : '' %> <%= (locals && locals.ios) ? 'a0-ios' : '' %>">
      <div class="a0-overlay">
        <div class="<%= locals && locals.options.container ? 'a0-nocentrix' : 'a0-centrix' %>">
          <% include lock %>
        </div>
      </div>
    </div>
  </div>
</div>
