ul.auth0-lock-tabs
  li.auth0-lock-tabs-login.auth0-lock-tabs-current
    a(href='') Login
  li
    a.auth0-lock-tabs-signup(href='') Sign Up

.auth0-lock-form.auth0-lock-login
  .auth0-lock-input-wrap.auth0-lock-input-username
    i.auth0-lock-icon
    input.auth0-lock-input(type='text', name='name', value='', placeholder='Email')
  .auth0-lock-input-wrap.auth0-lock-input-password
    i.auth0-lock-icon
    input.auth0-lock-input(type='text', name='name', value='', placeholder='Password')
  a.auth0-lock-forgot-link(href='#') Don't remember your password?
//- .auth0-lock-form.auth0-lock-login

.auth0-lock-form.auth0-lock-signup.auth0-lock-hide
  .auth0-lock-input-wrap.auth0-lock-input-username
    i.auth0-lock-icon
    input.auth0-lock-input(type='text', name='name', value='', placeholder='Email')
  .auth0-lock-input-wrap.auth0-lock-input-password
    i.auth0-lock-icon
    input.auth0-lock-input(type='text', name='name', value='', placeholder='Create Password')
  small.auth0-lock-terms
    | By signing up, you agree to our
    a(href='/terms', target='_new') terms of service
    |  and
    a(href='/privacy', target='_new') privacy policy
    | .
//- .auth0-lock-form.auth0-lock-signup

.auth0-lock-form.auth0-lock-forgot.auth0-lock-hide
  .auth0-lock-input-wrap.auth0-lock-input-username
    i.auth0-lock-icon
    input.auth0-lock-input(type='text', name='name', value='', placeholder='Email')
  .auth0-lock-input-wrap.auth0-lock-input-password
    i.auth0-lock-icon
    input.auth0-lock-input(type='text', name='name', value='', placeholder='Create Password')
  small.auth0-lock-terms
    | By signing up, you agree to our
    a(href='/terms', target='_new') terms of service
    |  and
    a(href='/privacy', target='_new') privacy policy
    | .
//- .auth0-lock-form.auth0-lock-forgot
