.auth0-lock-form.auth0-lock-login
  .auth0-lock-input-wrap.auth0-lock-input-email
    i.auth0-lock-icon
    input.auth0-lock-input(type='text', name='name', value='', placeholder='Signup with your email')
